<div class="photo-page">
    <a href='{{urls.url.content}}'>
        <img title="{{title}}" src="http://farm{{farm}}.static.flickr.com/{{server}}/{{id}}_{{secret}}_z.jpg"
            alt="{{description}}" />
    </a>
</div>
